body
{
	background-color: color-mix(in srgb, Canvas, CanvasText 2.5%);
	color: color-mix(in srgb, CanvasText, Canvas 15%);
	color-scheme: light dark;
	margin:10px auto;
	max-width:1000px;
	line-height:1.6;
	font-size:18px;
	padding:0 10px
}
h1,h2,h3
{
	line-height:1.2
}
/* .crop
{
	width: 150px;
	height: 150px;
	overflow: hidden;
}
.crop img
{
	width: 300px;
	height: 300px;
	margin: -75 px 0 0 -75 px;
} */
.gallery
{
	margin:0;
	line-height:0;
	padding:0;
	max-width:1000px;
}
.centered-and-cropped
{
	object-fit: cover;
	width: 198px;
	height: 199px;
	margin: 1px
}