
<header>
    <div class="topnav" id="myTopnav">
        <a href="/index.html" class="homepage"><strong>Eorzean Armory</strong></a>
        <div class="dropdown">
            <button class="dropbtn">Weapons
                <i class="fa fa-caret-down"></i>
            </button>
            <div id="weapons-dropdown-menu" class="dropdown-content">
                <a href="#">Coming Soon!</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Tools
                <i class="fa fa-caret-down"></i>
            </button>
            <div id="tools-dropdown-menu" class="dropdown-content">
                <a href="#">Coming Soon!</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Accessories
                <i class="fa fa-caret-down"></i>
            </button>
            <div id="accessories-dropdown-menu" class="dropdown-content">
                <a href="/accessories/bracelets/index.html">Bracelets</a>
                <a href="/accessories/earrings/index.html">Earrings</a>
                <a href="/accessories/necklaces/index.html">Necklaces</a>
                <a href="/accessories/rings/index.html">Rings</a>
            </div>
        </div>
        <!-- <a href="#contact">Contact</a>
        <a href="#about">About</a> -->
    </div>
</header>